<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.rulez.magwas.zenta.model.IZentamatePackage"
            genModel="model/zenta.genmodel"
            uri="http://magwas.rulez.org/zenta">
      </package>
      <package
            uri="http://magwas.rulez.org/zenta/1.0"
            class="org.rulez.magwas.zenta.model.IZentamatePackage"
            genModel="model/zenta.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="zenta"
            class="org.rulez.magwas.zenta.model.util.ZentamateResourceFactory"/>
      <parser
            class="org.rulez.magwas.zenta.model.util.ZentamateResourceFactory"
            type="xml">
      </parser>
   </extension>
   

</plugin>
