<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.rulez.magwas.zenta.editor.exportHandler">
      <exportHandler
            class="org.rulez.magwas.zenta.export.StyledHtml"
            id="org.rulez.magwas.styledhtml.StyledHtml"
            label="Through ExporterL...">
      </exportHandler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.rulez.magwas.zenta.export.StyledPreferencePage"
            id="org.rulez.magwas.styledhtml.prefsStyled"
            name="Export">
         <keywordReference
               id="StyledExport">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.rulez.magwas.zenta.editor.exportHandler">
      <exportHandler
            class="org.rulez.magwas.zenta.export.RichExport"
            id="org.rulez.magwas.styledhtml.RichExport"
            label="Model to rich format">
      </exportHandler>
   </extension>
</plugin>
