.documentversions th {background-color:#E5E5E5;border: 1.00pt solid #000000;}
.documentversions td {border-bottom: 1.00pt solid #000000;border-left: 1.00pt solid #000000;;border-right: 1.00pt solid #000000;}
.documentcontrolusers th {background-color:#E5E5E5;border: 1.00pt solid #000000;}
.documentcontrolusers td {border-bottom: 1.00pt solid #000000;border-left: 1.00pt solid #000000;;border-right: 1.00pt solid #000000;}
.objectclasspropertytable th {background-color:#E5E5E5;border: 1.00pt solid #000000;}
.objectclasspropertytable td {border-bottom: 1.00pt solid #000000;border-left: 1.00pt solid #000000;;border-right: 1.00pt solid #000000;}
.statelabel {font-size:12;}
.state {font-size:10;}
