<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension-point id="hints" name="Hints" schema="schema/hints.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.rulez.magwas.zenta.help.hints.ShowHintsViewHandler"
            id="org.rulez.magwas.zenta.help.command.showHintsView"
            name="%command.name">
      </command>
      <command
            defaultHandler="org.rulez.magwas.zenta.help.hints.ShowWebsiteHandler"
            id="org.rulez.magwas.zenta.help.command.website"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="org.rulez.magwas.zenta.help.hints.ShowCheatSheetsHandler"
            id="org.rulez.magwas.zenta.help.command.showCheatSheets"
            name="%command.name.1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=show_view_end">
         <command
               commandId="org.rulez.magwas.zenta.help.command.showHintsView"
               icon="img/hint-16.png"
               id="org.rulez.magwas.zenta.help.menuitem.showHintsView"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar_views?after=end">
         <command
               commandId="org.rulez.magwas.zenta.help.command.showHintsView"
               icon="img/hint-16.png"
               id="org.rulez.magwas.zenta.help.toolbaritem.showHintsView"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=additions">
         <command
               commandId="org.rulez.magwas.zenta.help.command.showCheatSheets"
               id="org.rulez.magwas.zenta.help.menuitem.showCheatSheets"
               label="%command.label.1"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=org.rulez.magwas.zenta.help.menuitem.showCheatSheets">
         <command
               commandId="org.rulez.magwas.zenta.help.command.website"
               id="org.rulez.magwas.zenta.help.menuitem.website"
               label="%command.label.2"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.rulez.magwas.zenta.help.hints.HintsView"
            icon="img/hint-16.png"
            id="org.rulez.magwas.zenta.help.hintsView"
            name="%viewHints"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.rulez.magwas.zenta.help.hintsView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.rulez.magwas.zenta.help.cheatsheets"
            name="Zenta Cheat Sheets">
      </category>
      <cheatsheet
            category="org.rulez.magwas.zenta.help.cheatsheets"
            composite="false"
            contentFile="cheatsheets/new_model.xml"
            id="org.rulez.magwas.zenta.help.cheatsheet1"
            name="Create a New Model">
         <description>
            Create a new Model
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.rulez.magwas.zenta.help.cheatsheets"
            composite="false"
            contentFile="cheatsheets/create_map_view.xml"
            id="org.rulez.magwas.zenta.help.cheatsheet2"
            name="Create a Map View">
         <description>
            Create a Map View
         </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
      <toc
            file="help/toc_resources.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <!-- Removed for now - See Bug #3010717 -->
      <!-- key
            commandId="org.rulez.magwas.zenta.help.action.showHintsView"
            schemeId="org.rulez.magwas.zenta.editor.keybindings"
            sequence="M3+4">
      </key -->
   </extension>
   <extension
         point="org.rulez.magwas.zenta.help.hints">
      <hint
            class="org.rulez.magwas.zenta.model.IBusinessObject"
            file="hints/business_object.html"
            title="%hint.title.3">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.IAggregationRelationship"
            file="hints/aggregation.html"
            title="%hint.title.33">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.IAssociationRelationship"
            file="hints/association.html"
            title="%hint.title.38">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.ISpecialisationRelationship"
            file="hints/specialisation.html"
            title="%hint.title.41">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.IJunction"
            file="hints/junction.html"
            title="%hint.title.43">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.IAndJunction"
            file="hints/and_junction.html"
            title="%hint.title.44">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.IOrJunction"
            file="hints/or_junction.html"
            title="%hint.title.45">
      </hint>
   </extension>
   <extension
         point="org.rulez.magwas.zenta.help.hints">
      <hint
            class="org.rulez.magwas.zenta.model.IDiagramModelGroup"
            file="hints/group.html"
            title="%hint.title.57">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.IDiagramModel"
            file="hints/view.html"
            title="%hint.title.58">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.IDiagramModelNote"
            file="hints/note.html"
            title="%hint.title.59">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.IDiagramModelReference"
            file="hints/view_ref.html"
            title="%hint.title.60">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.IFolder"
            file="hints/folder.html"
            title="%hint.title.61">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.IZentamateModel"
            file="hints/model.html"
            title="%hint.title.62">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.IDiagramModelConnection"
            file="hints/connection.html"
            title="%hint.title.63">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.ISketchModel"
            file="hints/sketch.html"
            title="%hint.title.64">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.ISketchModelActor"
            file="hints/sketch_actor.html"
            title="%hint.title.65">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.ISketchModelSticky"
            file="hints/sketch_sticky.html"
            title="%hint.title.66">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.model.IDiagramModelImage"
            file="hints/diagram_image.html"
            title="%hint.title.67">
      </hint>
   </extension>
   <extension
         point="org.rulez.magwas.zenta.help.hints">
      <hint
            class="org.rulez.magwas.zenta.editor.model.viewpoints.LayeredViewpoint"
            file="hints/viewpoint_layered.html"
            title="%hint.title.84">
      </hint>
      <hint
            class="org.rulez.magwas.zenta.editor.model.viewpoints.TotalViewpoint"
            file="hints/viewpoint_total.html"
            title="%hint.title.93">
      </hint>
   </extension>

</plugin>
